@use "../../../../assets/scss/configs/index" as *;

.introduction {
  height: 100vh;
  background-color: #dcdcdc;

  @include L-XL {
    min-height: 910px;
    max-height: 1180px;
  }

  @include S-M {
    min-height: 667px;
    max-height: 1024px; // ipad mini
  }
}

.introduction__inner {
  @include MQ-BETWEEN(769, 1174) {
    padding-right: 40px;
    padding-left: 40px;
  }

  @include MQ-UP(1175) {
    padding-right: 90px;
    padding-left: 90px;
  }

  @include L-XL {
    max-width: 1280px;
    padding-top: 315px; // TODO header込み、要修正
    margin-right: auto;
    margin-left: auto;
  }

  @include S-M {
    padding-top: 128px;
  }
}

.introductionHeading__name,
.introductionHeading__job {
  font-family: $abrilFatface;
  font-weight: 400;

  @include S-M {
    text-align: center;
  }
}

.introductionHeading__name {
  color: #000;

  @include MQ-BETWEEN(769, 1174) {
    font-size: 110px;
    text-align: center;
  }

  @include MQ-UP(1175) {
    font-size: 160px;
  }

  @include S-M {
    font-size: 60px;
  }
}

.introductionHeading__job {
  color: #6b7280;

  @include MQ-BETWEEN(769, 1174) {
    //margin-top: 28px;
    font-size: 70px;
    text-align: center;
  }

  @include MQ-UP(1175) {
    //margin-top: 38px;
    font-size: 90px;
  }

  @include L-XL {
  }

  @include S-M {
    font-size: 20px;
  }
}

.introductionHeading {
  display: block;
  overflow: hidden;

  span {
    display: block;
    transform: translateY(100%);
    transform-origin: top;
  }

  // canvasが読み込まれたらis-activeを付与してテキストが表示される
  &.is-active {
    @for $i from 1 through 3 {
      // delayを別途計算している
      &:nth-child(#{$i}) {
        span {
          animation: fadein 2s 0.2s * ($i - 1) both;
        }
      }
    }
  }
}

@keyframes fadein {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: none;
  }
}

@keyframes fadeout {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: none;
  }
}
