@use "../../../../assets/scss/configs/index" as *;

.introduction {
  height: 100vh;
  background-color: #dcdcdc;
}

.introduction__inner {
}

.introduction__name,
.introduction__job {
  font-weight: 400;
  color: #000;
}

.introduction__name {
  margin-bottom: 10px;
  font-size: 150px;
}

.introduction__job {
  margin-bottom: 10px;
  font-size: 90px;
}
