@use "./../../../assets/scss/configs/index" as *;

// ===========================================
// loading 全体設定
// 参考：https://www.otsuka-bs.co.jp/web-creation/blog/archive/20230620-22.html
// 参考：https://maku77.github.io/sass/for-while.html
// ===========================================

// CSS変数を入れる
* {
  --base-angle: calc(360deg / var(--circle-num)); /* 配置する円の角度 */
  --radius: 100px; /* 配置する円の半径 */

  // 配置する円の角度、座標を計算
  --angle: var(--base-angle) * var(--n) - 90deg;
  --x: calc(cos(var(--angle)) * var(--radius) - 50%);
  --y: calc(sin(var(--angle)) * var(--radius) - 50%);
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: calc(var(--radius) * 2);
  aspect-ratio: 1;
  border: 1px solid #ccc;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  &.is-hidden {
    display: none;
  }
}

.loading__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  aspect-ratio: 1;
  background-color: #eb6bb1;
  border-radius: 50%;

  @for $i from 1 through 6 {
    &:nth-of-type(#{$i}) {
      --n: #{$i};

      translate: var(--x) var(--y);
    }
  }
}
