@use "../../../../assets/scss/configs/index" as *;

// ===========================================
// about 全体設定
// ===========================================
.about {
  height: 100vh;
  background-color: #fff;

  @include L-XL {
    min-height: 910px;
    max-height: 1080px;
  }

  @include S-M {
    min-height: 667px;
  }
}

.about__inner {
  @include L-XL {
    position: relative;
    max-width: 1280px;
    padding-top: 132px; // TODO header込み、要修正
    padding-right: 90px;
    padding-left: 90px;
    margin-right: auto;
    margin-left: auto;
  }

  @include S-M {
    padding-top: 88px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.about__heading {
  font-family: $abrilFatface;
  font-weight: 400;
  color: $blackColor;

  @include L-XL {
    font-size: 120px;
    line-height: calc(162 / 120);
  }

  @include S-M {
    font-size: 60px;
  }
}

.about__explantion {
  @include MQ-BETWEEN(769, 1174) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include MQ-UP(1175) {
    display: grid;
    grid-template-areas: "explantion image";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }

  @include S-M {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }
}

.about__text {
  display: flex;
  flex-direction: column;

  @include MQ-BETWEEN(769, 1174) {
    width: 365px;
  }

  @include MQ-UP(1175) {
    width: 100%;
  }

  @include S-M {
    padding-top: 10px;
  }
}

// -------------------------------------------
// 自分のアイコン
// -------------------------------------------
.about__icon {
  @include L-XL {
  }

  @include MQ-BETWEEN(769, 1174) {
    width: 350px;
  }

  @include MQ-UP(1175) {
    grid-area: image;
    width: 404px;
  }

  @include S-M {
    width: 250px;
  }

  img {
    width: 100%;
    border-radius: 50%;
  }
}
