@use "../../../../assets/scss/configs/index" as *;

.aboutText__likes {
  font-family: $abrilFatface;
  font-weight: 400;

  @include MQ-BETWEEN(769, 1174) {
    padding-top: 20px;
    font-size: 40px;
  }

  @include MQ-UP(1175) {
    padding-top: 26px;
    font-size: 60px;
  }

  @include S-M {
    font-size: 30px;
  }
}

.aboutText__likesGroup {
  @include L-XL {
    padding-top: 15px;
  }

  @include MQ-BETWEEN(769, 1174) {
    align-self: center;
  }

  @include S-M {
    padding-top: 20px;
  }
}

.aboutText__likesIcon {
  display: inline-block;

  @include MQ-BETWEEN(769, 1174) {
    align-self: center;
  }

  @include MQ-UP(1175) {
    &:first-of-type {
      margin-left: 131px;
    }
  }

  &:not(:first-of-type) {
    margin-left: 29px;
  }
}

.aboutText__link {
  display: block;
  width: 38px;
  height: 38px;

  @include L-XL {
  }

  @include S-M {
  }

  img {
    width: 100%;
  }
}
