@use "../../../../assets/scss/configs/index" as *;

// -------------------------------------------
// 説明リスト
// -------------------------------------------
.work__explantion {
  font-family: $abrilFatface;
  font-weight: 400;
  color: #000;

  @include MQ-UP(1175) {
    grid-area: explantion;
  }

  @include MQ-BETWEEN(769, 1174) {
    width: 365px;
  }

  @include MQ-UP(1175) {
    width: 100%;
  }

  @include L-XL {
    display: flex;
    flex-direction: column;
  }

  @include S-M {
    display: flex;
    flex-direction: column;
    width: 240px;
    padding-top: 10px;
  }
}

.workExplantion__title {
  @include MQ-BETWEEN(769, 1174) {
    padding-top: 20px;
    font-size: 40px;
  }

  @include MQ-BETWEEN(1175, 1420) {
    padding-top: 20px;
    font-size: 50px;
  }

  @include MQ-UP(1420) {
    padding-top: 70px;
    font-size: 60px;
  }

  @include S-M {
    font-size: 30px;
  }
}

.workExplantion__titleText {
  @include MQ-BETWEEN(769, 1174) {
    padding-top: 10px;
    font-size: 30px;
  }

  @include MQ-BETWEEN(1175, 1420) {
    padding-top: 10px;
    font-size: 40px;
  }

  @include MQ-UP(1420) {
    padding-top: 10px;
    font-size: 48px;
    line-height: calc(65 / 48);
  }

  @include L-XL {
    align-self: center;
  }

  @include S-M {
    align-self: center;
    font-size: 16px;
  }
}

.workExplantion__date {
  @include MQ-BETWEEN(769, 1174) {
    padding-top: 10px;
    font-size: 40px;
  }

  @include MQ-BETWEEN(1175, 1420) {
    font-size: 50px;
  }

  @include MQ-UP(1420) {
    padding-top: 10px;
    font-size: 60px;
  }

  @include S-M {
    font-size: 30px;
  }
}

.workExplantion__dateText {
  @include MQ-BETWEEN(769, 1174) {
    padding-top: 10px;
    font-size: 30px;
  }

  @include MQ-BETWEEN(1175, 1420) {
    padding-top: 10px;
    font-size: 40px;
  }

  @include MQ-UP(1420) {
    padding-top: 2px;
    font-size: 48px;
    line-height: calc(65 / 48);
  }

  @include L-XL {
    align-self: center;
  }

  @include S-M {
    align-self: center;
    font-size: 16px;
  }
}
