@use "../../../../assets/scss/configs/index" as *;

// ===========================================
// work 全体設定
// ===========================================
.work {
  height: 100vh;
  background-color: #dcdcdc;

  @include L-XL {
    max-height: 1080px;
  }
}

.work__inner {
  @include L-XL {
    position: relative;
    max-width: 1280px;
    padding-top: 132px; // TODO header込み、要修正
    padding-right: 90px;
    padding-left: 90px;
    margin-right: auto;
    margin-left: auto;
  }

  @include S-M {
    padding-left: 20px;
  }
}

.work__heading {
  font-family: $abrilFatface;
  font-weight: 400;
  color: #000;

  @include L-XL {
    font-size: 120px;
    line-height: calc(162 / 120);
  }

  @include S-M {
    font-size: 60px;
  }
}

.work__button {
  @include L-XL {
    margin-top: 48px;
    margin-left: 131px;
  }

  @include S-M {
    margin-top: 48px;
    margin-left: 131px;
  }
}

// -------------------------------------------
// 作品の画像
// -------------------------------------------
.work__image {
  @include L-XL {
    position: absolute;
    top: calc(50% + 130px);
    right: 12px;
    width: 564px;
    margin-top: 59px;
    box-shadow: -30px 30px 6px rgb(0 0 0 / 16%);
    transform: translateY(-50%);
  }

  img {
    width: 100%;
  }
}
